@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment webHostEnvironment;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">欢迎</h1>
    <h2>当前环境名称: @webHostEnvironment.EnvironmentName</h2>
    <h3>应用名称：@webHostEnvironment.ApplicationName</h3>
    <h4>当前时间: @DateTime.Now</h4>
    <h4>操作系统： @Environment.OSVersion</h4>
    <h5>请求IP：@Context.Connection.RemoteIpAddress.ToString()</h5>
    <h6>123</h6>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
